*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     /* font-family: "Bebas Neue", sans-serif; */
     font-weight: 500;
}

.webPage{
    display: flex;
    justify-content: center;
}
.mainContain{
    width: 1320px;
    background-color:rgb(245, 245, 245);
}

a{

    text-decoration: none;
}
ul li {
    list-style-type: none;
}

.heder{
    border: 1px solid #ddd;
}

.contact{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
 
.contact1{
    display: flex;
    justify-content:center;
    gap: 50px;
} 

.contact2 ul{
    display: flex;
    justify-content:center;
    gap: 30px;
}
.mainHeder2{
    display: flex;
    justify-content:space-around;
    padding: 30PX;
    font-size: 30px;
    /* position: relative; */
}

.topRight{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 20px;
    /* padding: 10px; */
}
.topRight a{
    color: black;
}
.topRight a:hover{
    color: rgb(255, 0, 0);
}

.serch input{
    /* position: absolute; */
    height: 28px;
    width: 350px;
    /* top: 50px;
    left: 50%;
    transform: translate(-50%,-50%);
} */
}

.topLeft{
    position: relative;
    padding: 20px;
}

.topLeft1{
    border: 1px solid #ddd;
    width: 20%;
    text-align:left;
    padding: 15px;
}
.topLeft1 ul li{
    padding: 8px;
    
}
.topLeft1 ul li a i{
    padding-right: 30px;
    
}
.topLeft ul li a:hover{
    color: red;
}

 .topheder ul{
    position:absolute;
    display: flex;
    justify-content: center;
    top: 20px;
    left: 50%;
    transform: translate(-50%,-50%);
    gap: 30px;
}

.topheder ul li a:hover{
    color: red;
    background: teal;
}

.hederh1{
      position: absolute;
    background: rgba(245, 190, 252, 0.473);
    left: 51%;
    top: 215px;
    transform: translate(-50%, -50%);
    height: 350px;
    width: 745px;
}

.hederh1 img{
    position: absolute;
    right: 0;
    top: 0;
}

.hederh11{
    padding: 100px;
}
.hederh11 p{
    padding: 20px 0;
}
.hederh11 button{
    padding: 10px 25px;
    background:skyblue;
    transition: 0.3s;
}
.hederh11 button:hover{
    background: rgb(1, 132, 184);
    color: white;
}

.toplast{
    position: absolute;
    right: 30px;
    top: 40px;
    background: rgb(250, 181, 181);
    height: 150px;
    width: 230px;
}
.maintop h3 {
    color: red;
    padding: 5px;

}
.maintop h2 {
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 15px;

}

.toplast11{
    font-size: 10px;
    padding: 20px;
    
}
.toplast img{
    position: absolute;
    width: 100px;
    bottom: 0;
    right: 10px;
}

.toplast11 a{
    position: absolute;
    padding: 20px 5px;
}
.toplast2{
    position: absolute;
    right: 30px;
    top: 240px;
    background: green;
    height: 150px; 
    width: 230px;
}

.toplast22{
    font-size: 10px;
    padding: 20px;
}

.toplast22 img {
    position: absolute;
    right: 0px;
    top: 0;
}
 .toplast22 a{
    position: absolute;
    color: rgb(0, 255, 106);
    padding: 20px 5px;
    /* background: gray; */
}

.middle0{
       border: 1px solid #ddd ;  
       height: 60px; 
       width: 1275px;
       margin: 0px auto;
}

.middle{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    position: relative;    
}
.middle1 i{
    position: absolute;
    left: 6%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.middle2 i{
    position: absolute;
    left: 32%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.middle3 i{
    position: absolute;
    left: 58%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.middle4 i{
    position: absolute;
    left: 82%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.middle h3:hover{
    color: red;
    cursor: pointer;
}

.main1{
    display: flex;
    justify-content: space-around;
    gap:2px;
    margin: 20px;

}
.main11 .main1 h3{
    font-size: 15px;
}
.main11 .main1 h4{
    font-size: 10px;
}
.main11 .main1 h5{
    font-size: 10px;
}

.main11 .main1 img{
    display: flex;
    margin: 0 auto;

}
.offerTime{
    border: 1px solid #ddd;
    height: 180px;
    width: 220px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.offerTime h3, input{
    padding: 10px 0;
    gap: 10px;
}



.time{
    display: flex;
    justify-content: flex-start;
    padding: 8px;
    gap: 10px;
}
.time div:nth-child(1){
    color:  rgb(0, 4, 255);;
    text-align: center;
    align-items: center;
    background:#ddd;
    height: 45px;
    width: 40px;
    font-weight: 900;
}
.time div:nth-child(2 ){
    color:  rgb(0, 4, 255);;
    text-align: center;
    align-items: center;
    background:#ddd;
    height: 45px;
    width: 40px;
    font-weight: 900;
}
.time div:nth-child(3){
    color:  rgb(0, 4, 255);;
    text-align: center;
    align-items: center;
    background: #ddd;
    height: 45px;
    width: 40px;
    font-weight: 900;
}
.time div:nth-child(4){
    color:  rgb(0, 4, 255);;
    text-align: center;
    align-items: center;
    background: #ddd;
    height: 45px;
    width: 40px;
    font-weight: 900;
}

.offerTime button{
    padding: 5px;    
    margin-top: 10px;
    background: rgb(76, 79, 255);
    color: aliceblue;
    height: 30px;
    width: 130px;
    border-radius: 10px;
    transition: 0.3s;
}

.offerTime button:hover{
    background: rgb(0, 68, 146);
}

.product1{
    border: 1px solid #ddd  ;
    height: 180px;    
    width: 225px;
    text-align: left;
    padding: 10px;
    line-height: 18px;
    
}
.product2{
    border: 1px solid #ddd  ;
    height: 180px;
    width: 225px;
    text-align: left;
    padding: 10px;
    line-height: 18px;
}
.product3{
    
    border: 1px solid #ddd  ;
    height: 180px;
    width: 225px;
    text-align: left;
    padding: 10px;
    line-height: 18px;
}

.product4{
    border: 1px solid #ddd  ;
    height: 180px;  
    width: 225px;
    text-align: left;
    padding: 10px;
    line-height: 18px;
}

.product5{
    border: 1px solid #ddd  ;
    height: 180px;
    width: 225px;
    text-align: left;
    padding: 10px;
    line-height: 18px;  
    
}

.offerProduct{
    display: flex;
    justify-content: space-around;
    column-gap: 20px;
    margin: 0 20px;
}

.offerProduct1{
    height:100px ;
    width: 330px;
    background: tomato;
    border-radius: 5px;
    padding: 15px;
}
.offerProduct2{
    height:100px ;
    width: 330px;
    background: rgb(216, 126, 110);
    border-radius: 5px;
    border-radius: 5px;
    padding: 15px;
}
.offerProduct3{
    height:100px ;
    width: 330px;
    background: rgb(43, 156, 109);
    border-radius: 5px;
    border-radius: 5px;
    padding: 15px;
}
.offerProduct4{
    height:100px ;
    width: 330px;
    background: rgb(90, 109, 214);
    border-radius: 5px;
    border-radius: 5px;
    padding: 15px;
}
.offerProduct button{
    margin: 15px 0;
    transition: 0.3s;
}
.offerProduct button:hover{
      background: blue;
      color: #ddd
}
